
.team{
    .teamWrapper{
        background-color: #e8f1ff;
        // display: flex;
        margin: 3px;
        align-items: center;
        
        // justify-content:space-between;
        height: 48px;
        img{
            width: 30px;
            height: 30px;
        }

        span{
            font-size: 14px;
        }

        .teamName{
            text-align: start;
            padding-left: 30px;
        }

    }
}